.myInput {
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0px;
    border: none;
    border-radius: 5px;
}

.inputArea{
    background-color: white;
    min-width: 100px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 3svh;
    padding:0 5px;
}

