.navBar {
    padding-top: 10%;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    transition: .5s ease;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}

a:hover{
    background: teal;
    color: white;
}
a {
    /* margin-top: 100px; */
    margin: 1vh;
    color: wheat;
    padding: 1svh;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    /* border-radius: 5px; */
}
