.cards{
    display: flex;
    flex: grid;
    padding: 2vw 5vw;
    border: 2px solid teal;
    margin: 5vw 10vw;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}
.column{
    display: flex;
    flex: auto;
    width: 10%;
    /* font-size: 3vw; */
    
}


