
.boardsList{
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10%;
    background-color: #042b4a;
    justify-content: center;
}

.board{
border: 1px solid wheat;
border-radius: 5px;
padding: 5px;
min-width: 200px;

}